name: Doxygen

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-documentation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Doxygen
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake doxygen graphviz

      - name: Configure with CMake
        run: |
          cmake -S . -B build \
            -DCMAKE_C_COMPILER_WORKS=ON \
            -DSOFAB_ENABLE_DOXYGEN=ON

      - name: Build documentation
        run: cmake --build build --target doc
